.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: #ffffff;
  outline: none;
  background:  linear-gradient( 310deg ,#53900F,#D6CCE15);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: rgba(103, 116, 142, 0);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-color: transparent;
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.message-sent-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.message-sent-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: space-between;
}
.message-sent-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-color: rgba(12, 12, 12, 0.8);
}
.message-sent-image {
  width: 64px;
  height: 40px;
  object-fit: cover;
}
.message-sent-text {
  font-size: 1.75rem;
  font-style: normal;
  text-align: justify;
  font-family: Orbitron;
  font-weight: 600;
  padding-left: var(--dl-space-space-halfunit);
  background-image: linear-gradient(90deg, rgb(83, 144, 15) 0.00%,rgb(214, 206, 21) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.message-sent-container01 {
  flex: 0 0 auto;
  width: 868px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.message-sent-container02 {
  color: var(--dl-color-gray-black);
  width: 855px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.message-sent-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 9vw;
  flex-direction: row;
  padding-bottom: 0px;
}
.message-sent-text01 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Archivo;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.message-sent-link {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Archivo;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.message-sent-text02 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Archivo;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.message-sent-text03 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Archivo;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.message-sent-text04 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Archivo;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.message-sent-container03 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.message-sent-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.message-sent-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.message-sent-button {
  width: 145px;
  height: 40px;
  display: inline-block;
  font-size: 1.15rem;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Orbitron;
  font-weight: 500;
  margin-left: 1.6vw;
  border-width: 0px;
  text-decoration: none;
}
.message-sent-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.message-sent-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.message-sent-navlink {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.message-sent-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.message-sent-icon2 {
  width: 24px;
  height: 24px;
}
.message-sent-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.message-sent-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.message-sent-navlink1 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.message-sent-text05 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-text05:hover {
  color: var(--dl-color-gray-500);
}
.message-sent-text06 {
  transition: 0.3s;
  text-decoration: none;
}
.message-sent-text06:hover {
  color: var(--dl-color-gray-500);
}
.message-sent-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.message-sent-features {
  width: 100%;
  display: flex;
  max-width: 1400px;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
}
.message-sent-text07 {
  font-size: 2.5em;
  margin-top: 90px;
  text-align: center;
  font-family: Orbitron;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 48px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(83, 144, 15) 0.00%,rgb(214, 206, 21) 100.00%);
  scroll-margin-top: 2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.message-sent-text09 {
  color: #ffffff;
  width: 37rem;
  font-size: 1.25rem;
  font-style: normal;
  text-align: justify;
  font-family: Archivo;
  font-weight: 100;
}
.message-sent-container04 {
  flex: 0 0 auto;
  width: 290px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  align-content: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.message-sent-container05 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.message-sent-image1 {
  width: 24px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.message-sent-link1 {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}
.message-sent-container06 {
  flex: 0 0 auto;
  width: auto;
  height: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.message-sent-container07 {
  width: auto;
  height: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.message-sent-body-to-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.message-sent-image3 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.message-sent-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, #53900f,#d6ce15);
}
.message-sent-container08 {
  color: var(--dl-color-gray-white);
  width: 1095px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.message-sent-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.message-sent-text13 {
  font-size: 1.4rem;
  font-family: Orbitron;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.message-sent-text14 {
  font-size: 1.2rem;
  font-family: Archivo;
  margin-bottom: 20px;
}
.message-sent-link2 {
  font-size: 1.2rem;
  font-style: normal;
  font-family: Archivo;
  font-weight: 300;
  text-decoration: none;
}
.message-sent-container10 {
  display: flex;
  justify-content: space-between;
}
.message-sent-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.message-sent-text15 {
  font-size: 1.4rem;
  font-family: Orbitron;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.message-sent-text16 {
  color: var(--dl-color-gray-800);
  font-size: 1.2rem;
  transition: 0.3s;
  font-family: Archivo;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-text16:hover {
  color: var(--dl-color-gray-white);
}
.message-sent-text17 {
  color: var(--dl-color-gray-800);
  font-size: 1.2rem;
  transition: 0.3s;
  font-family: Archivo;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-text17:hover {
  color: var(--dl-color-gray-white);
}
.message-sent-link3 {
  color: var(--dl-color-gray-800);
  font-size: 1.2rem;
  transition: 0.3s;
  font-family: Archivo;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-link3:hover {
  color: var(--dl-color-gray-white);
}
.message-sent-text18 {
  color: var(--dl-color-gray-800);
  font-size: 1.2rem;
  transition: 0.3s;
  font-family: Archivo;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-text18:hover {
  color: var(--dl-color-gray-white);
}
.message-sent-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.message-sent-text19 {
  font-size: 1.4rem;
  font-family: Orbitron;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.message-sent-text20 {
  color: var(--dl-color-gray-800);
  font-size: 1.2rem;
  transition: 0.3s;
  font-family: Archivo;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.message-sent-text20:hover {
  color: var(--dl-color-gray-white);
}
.message-sent-image4 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .message-sent-nav {
    max-width: 960px;
  }
  .message-sent-menu {
    display: none;
  }
  .message-sent-container08 {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .message-sent-burger-menu {
    display: flex;
  }
  .message-sent-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .message-sent-container08 {
    flex-direction: column;
  }
  .message-sent-container09 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .message-sent-container12 {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .message-sent-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
