.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-text {
  font-size: 2rem;
  align-self: center;
  text-align: center;
  font-family: Orbitron;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(83, 144, 15) 0.00%,rgb(214, 206, 21) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-card1-text2 {
  color: #ffffff;
  font-size: 1.25rem;
  align-self: center;
  font-style: normal;
  font-family: Archivo;
  font-weight: 100;
}
.feature-card1-image {
  width: 96px;
  height: 96px;
  align-self: center;
  object-fit: cover;
  border-radius: 4px;
}
