<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <img
      alt="image"
      src="0c545438-dccd-4f3c-8e7c-92d8d4113c1d"
      class="feature-card-image"
    />
    <h1 class="feature-card-text"><span>Design</span></h1>
    <span class="feature-card-text1">
      <span>
        <span>
          Businesses & companies that were one of the first to innovate, were
          the most successful. Adjusting to the new ways of thinking and doing,
          is what matters the most!
        </span>
      </span>
    </span>
  </div>
</div>
