<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">Web3naut</span>
        <span>Copyright © 2021 Web3naut</span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text2 large">Company</span>
          <span class="footer-text3 large">How we work</span>
          <span class="footer-text4 large">Get Start</span>
          <span class="footer-text5 large">Testim</span>
        </div>
        <div class="footer-container4">
          <span class="footer-text6 large">Products</span>
          <span class="footer-text7 large">Get free Quote</span>
          <span class="footer-text8 large">Contact Us</span>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
