.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: #ffffff;
  outline: none;
  background:  linear-gradient( 310deg ,#53900F,#D6CCE15);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: rgba(103, 116, 142, 0);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-color: transparent;
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
